/* Reset styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
header {
    background-color: #4285f4;
    color: #ffffff;
    text-align: center;
    padding: 1rem; /* Increased padding for better spacing */
}

.main-title {
    font-size: 3.5rem; /* Increased font size for the main title */
    font-weight: 900;
    text-shadow: 0 0 25px rgba(250, 246, 1, 0.8); /* Added glow effect */
}

.subtitle {
    font-size: 2rem; /* Adjusted font size for the subtitle */
    font-weight: 300;
}

/* Footer styles */
footer {
    background-color: #4285f4;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}

/* Main content styles */
main {
    display: grid;
    grid-template-columns: 1fr;  /* Always one column */
    gap: 1rem;
    padding: 1rem;
    max-width: 960px;
    margin: auto;
}

/* Section styles */
section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out, visibility 0s linear 0.6s;
}

/* Headings styles */
h1, h2 {
    color: #202124;
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    color: #4285f4;
    font-size: 20px;
    margin-bottom: 15px;
}

/* Text styles */
p, ol {
    line-height: 1.6;
    font-size: 16px;
}

ol {
    padding-left: 20px;
}

li {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Code styles */
code {
    font-family: 'Roboto Mono', monospace;
    background-color: #f0f0f0;
    padding: 2px 5px;
    border-radius: 4px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea, button {
    padding: 10px;
    border-radius: 8px;
}

button {
    background-color: #34a853;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0f9d58;
}

/* Visible sections */
section.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
